@font-face {
    font-family: "Black Signature";
    src: url("./fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
    font-family: "Changa One";
    src: url("./fonts/ChangaOne-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
}

/* Header style */
.container120 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    /* width: 100%; */
    width: auto;
    padding: 0 120px;
    justify-content: flex;
}

header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.block-logo {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.block-logo p{
    font-family: "Black Signature";
}

.block-logo span{
    font-family: "Changa One";
    font-size: 24px;
    color: #8A53FF;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    white-space: nowrap;
    margin-left: auto;

}

.block-link{
    font-family: "Roboto";
    font-size: 16px;
    color: #495367;
    display: flex;
    justify-content: space-between;
}

.block-link ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
     
}

.block-link li{
    flex: 1;
    margin-right: 20px; 
}

.block-link a{
    text-decoration: none;
}

.block-img {
    display: flex;
    justify-content: space-around;
}

.block-img img{
    margin: 0 10px;
}

/* Main previev */

.main-previev {
    background-image: url('./images/hero_background_image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1440px;
    width: auto;
    height: 580px;
    display: flex;
    justify-content: flex;
    /* padding: 0 120px; */
    align-items: center;
  
} 

.main-previev-hero-text{
    width: 765px;
    height: 580px;
    align-items: center; 
    justify-content: center;
    text-align: left;
    position: absolute;
    margin-top: 290px;  
    margin-left: 140px;

}
.main-previev-title{
    font-family: "Changa One";
    font-size: 73px;
}
.main-previev-desc {
    font-family: "Roboto";
    color: #434343;
    font-size: 22px;
    line-height: 36px;
    margin-top: 12px;
}

.call-to-action{
    width: 360px;
    height: 46px;
    font-family: "Roboto";
    color: #434343;
    font-size: 16px;
    align-items: center;
    /* background-color: aqua; */
    margin-top: 34px;
    display: flex;
    justify-content: space-between;

}
.call-to-action button{
    width: 166px;
    height: 46px;
    border-radius: 4px;
    background-color: #8A53FF;
    color: white;   
    border: none;
}
.featured-destination{
    max-width: 1440px;
    height: 552px;
    width: auto;
    justify-content: space-between;
}
.featured-destination img{
    padding-top: 107px;
    padding-left: 140px;
}

.featured-destination-blurb{
    width: 580px;
    height: 292px;
    float: right;
    padding-top: 107px;
    justify-items: auto;
}
.featured-destination-cat{
    font-family: "Roboto";
    font-size: 18px;
    color: #8A53FF;
}
.featured-destination-title{
    font-family: "Changa One";
    font-size: 39px;
    color: #434343;
}
.featured-destination-desc{
    font-family: "Roboto"; 
    font-size: 18px;
    color: #434343;
}
.featured-destination-watch{
    padding-top: 24px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #8A53FF;
    justify-content: space-between;
}
.featured-destination-watch img{
    width: 36px;
    height: 36px;
    padding: auto;
}













.discover_the_world_box{
    width: fill;
    max-width: 1440px;
    height: 621px;
    /* background-color: blue; */
    padding: 24px, 119px, 70px, 119px;
}

.discover_the_world_header{
    width: fill;
    height: 69px;
    text-align: center;
}

.discover_the_world_header p{
    font-family: "Roboto";
    font-size: 18px;
    height: 21px;
    color: #8A53FF;
}

.discover_the_world_header span{
    font-family: "Changa One";
    font-size: 39px;
    color: #434343;
}

.discover_the_world_location_cards{
    width: 1220px;
    height: 410px;


}