@font-face {
    font-family: "Black Signature";
    src: url("./fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
    font-family: "Changa One";
    src: url("./fonts/ChangaOne-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
}

/* Header style */
.container120 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    /* width: 100%; */
    width: auto;
    padding: 0 120px;
    justify-content: flex;
}

header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.block-logo {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.block-logo p{
    font-family: "Black Signature";
}

.block-logo span{
    font-family: "Changa One";
    font-size: 24px;
    color: #8A53FF;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    white-space: nowrap;
}

.block-link{
    font-family: "Roboto";
    font-size: 16px;
    color: #495367;
    display: flex;
    justify-content: space-between;
}

.block-link ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
     
}

.block-link li{
    flex: 1;
    margin-right: 20px; 
}

.block-link a{
    text-decoration: none;
}

.block-img {
    display: flex;
    justify-content: space-around;
}

.block-img img{
    margin: 0 10px;
}

/* Main previev */

.main-previev {
    height: 580px;
    width: flex;
    display: flex;
    padding: 0 60px;
    /* background-image: url('./images/hero_background_image.png'); */
    background-repeat: no-repeat;
    
} 

.main-previev img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 60px;
}

.main-previev-content{
    width: 765px;
    height: 580px;
    padding: 120px, 40px, 140px;
    text-align: center;
}


.discover_the_world_box{
    width: fill;
    max-width: 1440px;
    height: 621px;
    /* background-color: blue; */
    padding: 24px, 119px, 70px, 119px;
}

.discover_the_world_header{
    width: fill;
    height: 69px;
    text-align: center;
}

.discover_the_world_header p{
    font-family: "Roboto";
    font-size: 18px;
    height: 21px;
    color: #8A53FF;
}

.discover_the_world_header span{
    font-family: "Changa One";
    font-size: 39px;
    color: #434343;
}

.discover_the_world_location_cards{
    width: 1220px;
    height: 410px;


}