@font-face {
  font-family: "Black Signature";
  src: url("./fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
  font-family: "Changa One";
  src: url("./fonts/ChangaOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}

/* Header style */
.container120 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  /* width: 100%; */
  width: auto;
  padding: 0 120px;
  justify-content: flex;
}

header {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.block-logo {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.block-logo p {
  font-family: "Black Signature";
}

.block-logo span {
  font-family: "Changa One";
  font-size: 24px;
  color: #8a53ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  white-space: nowrap;
  margin-left: auto;
}

.block-link {
  font-family: "Roboto";
  font-size: 16px;
  color: #495367;
  display: flex;
  justify-content: space-between;
}

.block-link ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.block-link li {
  flex: 1;
  margin-right: 20px;
}

.block-link a {
  text-decoration: none;
}

.block-img {
  display: flex;
  justify-content: space-around;
}

.block-img img {
  margin: 0 10px;
}

/* Main previev */

.main-previev {
  background-image: url("./images/hero_background_image.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1440px;
  width: auto;
  height: 580px;
  display: flex;
  justify-content: flex;
  /* padding: 0 120px; */
  align-items: center;
}

.main-previev-hero-text {
  width: 765px;
  height: 580px;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: absolute;
  margin-top: 290px;
  margin-left: 140px;
}
.main-previev-title {
  font-family: "Changa One";
  font-size: 73px;
}
.main-previev-desc {
  font-family: "Roboto";
  color: #434343;
  font-size: 22px;
  line-height: 36px;
  margin-top: 12px;
}

.call-to-action {
  width: 360px;
  height: 46px;
  font-family: "Roboto";
  color: #434343;
  font-size: 16px;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.call-to-action button {
  width: 166px;
  height: 46px;
  border-radius: 4px;
  background-color: #8a53ff;
  color: white;
  border: none;
}
.featured-destination {
  max-width: 1440px;
  height: 552px;
  width: auto;
  justify-content: space-between;
}
.featured-destination img {
  padding-top: 107px;
  padding-left: 140px;
}

.featured-destination-blurb {
  width: 580px;
  height: 292px;
  float: right;
  padding-top: 107px;
  justify-items: auto;
}
.featured-destination-cat {
  font-family: "Roboto";
  font-size: 18px;
  color: #8a53ff;
}
.featured-destination-title {
  font-family: "Changa One";
  font-size: 39px;
  color: #434343;
}
.featured-destination-desc {
  font-family: "Roboto";
  font-size: 18px;
  color: #434343;
  line-height: 33px;
}
.featured-destination-watch {
  padding-top: 24px;
  font-family: "Roboto";
  font-size: 16px;
  color: #8a53ff;
  display: flex;
}

.featured-destination-watch span {
  line-height: normal;
  justify-content: center;
  /* align-items: center;  */
  padding-top: 10px;
  padding-left: 12px;
}
.featured-destination-watch img {
  padding: 0;
}

.discover_the_world_box {
  width: fill;
  max-width: 1440px;
  height: 621px;
  /* background-color: blue; */
  padding: 24px, 119px, 70px, 119px;
}

.discover_the_world_header {
  width: fill;
  height: 69px;
  text-align: center;
}

.discover_the_world_header p {
  font-family: "Roboto";
  font-size: 18px;
  height: 21px;
  color: #8a53ff;
}

.discover_the_world_header span {
  font-family: "Changa One";
  font-size: 39px;
  color: #434343;
}

.discover_the_world_cards {
  width: 1220px;
  height: 410px;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* display: inline; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  text-align: center;
  padding-top: 10px;
  padding-left: 119px;
}

.country_card {
  /* max-width: 300px; */
  /* max-width: 410px; */
  display: inline-block;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.country_card p {
  font-family: "Roboto";
  font-size: 16px;
  color: #8a53ff;
  padding-top: 10px;
}

.country_card span {
  font-family: "Changa One";
  font-size: 24px;
  color: #434343;
}
.country_card img {
  width: 268px;
  height: 318px;
}

.share_travel {
  max-width: 1440px;
  max-height: 900px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20;
  background-image: url("./images/Share_travel_bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.share_travel_form_head {
  align-items: center;
  width: 658px;
  height: 758px;
  padding-top: 20px;
}

.share_travel_header {
  width: 617px;
  height: 76px;
  padding-bottom: 30px;
}

.share_travel_header span {
  font-family: "Roboto";
  font-size: 18px;
  color: #8a53ff;
  width: 617px;
  height: 21px;
}

.share_travel_header p {
  font-family: "Changa One";
  font-size: 39px;
  color: #434343;
  width: 617px;
  height: 40px;
}

.share_travel_form {
  background-color: #fff;
  width: 617px;
  height: 612px;
  padding: 28px, 30px, 28px, 30px;
}

.share_travel_form_desc {
  width: 557px;
  height: 110px;
  align-items: center;
  text-align: left;
  line-height: 34px;
  padding-left: 30px;
  white-space: normal;
  padding-top: 58px;
  padding-bottom: 17px;
}
.share_travel_form_desc span {
  font-family: "Changa One";
  font-size: 24px;
  color: #434343;
  padding-bottom: 20px;
}
.share_travel_form_desc p {
  font-family: "Roboto";
  font-size: 18px;
  color: #576074;
}

form {
  padding-top: 17px;
  width: 557px;
  height: 366px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  justify-content: space-around;
  vertical-align: auto;
  border: 1px;
  flex-direction: column;
  display: flex;
}
input {
  border: 1px solid #434343;
  border-radius: 4px;
  height: 56px;
}
input:focus {
  outline: none;
  border: 1px solid #8a53ff;
}
textarea:focus {
  outline: none;
  border: 1px solid #8a53ff;
}
option:focus {
  outline: none;
  border: 1px solid #8a53ff;
}
optgroup {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}
option {
  outline: none;
  border: 1px solid #8a53ff;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}
textarea {
  border: 1px solid #434343;
  width: 557px;
  height: 102px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}

.form_button {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  background-color: #8a53ff;
  width: 222px;
  height: 46px;
  border-radius: 4px;
  color: #fff;
  border: none;
}

.recent_story {
  max-width: 1440px;
  width: auto;
  height: 749px;
  padding-left: 120px;
  /* background-color: #434343; */
  /* align-items: center; */
  /* text-align: center; */
  justify-content: center;
  display: flex;
}

.recent_story_title {
  max-width: 1200px;
  height: 76px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent_story_title span {
  max-width: 1200px;
  width: auto;
  height: 21px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #8a53ff;
}

.recent_story_title p {
  max-width: 1200px;
  width: auto;
  height: 40px;
  font-family: "Changa One";
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  color: #434343;
}

.story_block {
  max-width: 1200px;
  width: auto;
  height: 478px;
}

.story_block_left {
  max-width: 600px;
  max-height: 477px;
  padding-left: 20px;
  padding-right: 20px;
}

.story_block_right {
  max-width: 600px;
  width: auto;
  height: 476px;
}
